.titleWrapper {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #ae338b;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: -2px -2px 6px #ffffff1a, 2px 2px 6px #ffffffcc;
}

.title {
  display: inline-block;
  position: relative;
  color: black;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: black;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: -45px;
  }

  &::after {
    right: -45px;
  }
}
