.error-page {
  @import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
  color: var(--blue);
  font-size: 1em;
  height: 100vh;
  .row {
    display: flex;
  }
  $blue: #0e0620;
  $white: #fff;
  $green: #2ccf6d;
  .info-text {
    margin-bottom: 50px;
  }
  button {
    font-family: "Nunito Sans";
  }
  ul {
    list-style-type: none;
    padding-inline-start: 35px;
  }
  svg {
    width: 100%;
    visibility: visible;
  }
  h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  }
  .btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    .btn-link {
      color: #3a3a3a;
    }
    &.green {
      border: 4px solid #3a3a3a;
      color: $blue;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background: $green;
        z-index: -1;
        transition: 0.2s ease;
      }
      &:hover {
        color: var(--white);
        background: $green;
        transition: 0.2s ease;
        &:before {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: block;
    .container {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }
}
