@import 'assets/scss/style.scss';

.page-wrapper {
  .menu-item {
    color: white;

    .menu-link {
      color: #fff !important;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      * {
        color: $orange !important;
      }

      &::after {
        border-bottom: 2px solid $orange !important;
      }
    }
  }

  .page-wrapper__footer-contacts {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;

    a {
      font-size: 20px;
      color: white;
      margin-bottom: 15px;

      &:hover {
        color: $orange;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .page-wrapper__footer-contacts-title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 900;
    color: $orange;
  }
}

.ant-layout-header {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100%;

  .logo {
    color: $orange;
    text-transform: uppercase;
    font-size: 26px;

    &:hover {
      color: white;
    }
  }
}

.ant-layout-footer {
  border-top: 2px solid black;
}