.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 30px;
}
.title {
  background-color: black;
  color: white;
  margin-bottom: 25px;
  border-radius: 10px;
}
.imgWrapper {
  position: relative;
  padding: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.314);
  margin-right: 40px;

  img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.description {
  width: 40%;
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
