@import '../../assets/scss/utils/variables';

.home-page {
  .section3 {
    margin-bottom: 100px;
  }
  .section3-title-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: -2px -2px 6px #ffffff1a, 2px 2px 6px #000000cc;
  }
  .section3-title {
    display: inline-block;
    position: relative;
    color: #fff;
    &::before, &::after {
      content: '';
      display: inline-block;
      width: 40px;
      height: 2px;
      background-color: #fff;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      left: -45px;
    }
    &::after {
      right: -45px;
    }
  }
  .section3-items-row {
    display: flex;
    justify-content: space-between;
  }




  .section3-item {
    background-color: transparent;
    height: 250px;
    width: 31%;
    perspective: 1000px;
    
    &:hover .section3-item-card {
      transform: rotateY(-180deg);
    } 
  }

  .section3-item-card {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: -2px -2px 6px #ffffff1a, 2px 2px 6px #000000cc;
  }
  .front img {
    height: 100%;
    border-radius: 20px;

  }
  .front-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -15px;
    right: 15px;
    width: 200px;
    height: 70px;
    background-color: #313131;
    color: white;
    font-size: 30px;
    z-index: 2;
  }
  .back {
    background-color: #31313150;
    transform: rotateY(-180deg);
  }
  .back-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000;
    width: inherit;
    &.center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .back-content__discr {
    margin-bottom: 15px;
  }
  .back-content__btn {
    border: none;
    width: 150px;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    transition: .2s linear;
  }
  .section3-item-card__funiro {
    .back {
      background-color: #F9F1E7;
    }
    .back-content__btn {
      background-color: $orange;
      border: none;
      transition: .2s linear;
      color: white;
      &:hover {
        background-color: $orange-dark;
      }
      &:active {
        background-color: $orange-light;
      }
    }
  }
  .section3-item-card__figma-land {
    .front-info {
      background: #fff;
      color: #03D6F3;
      border: 1px#03D6F3 solid;
    }
    .back {
      background: linear-gradient(45deg, #37BDA6, #CB1AE8);
    }
    .back-content {
      color: white;
    }
    .back-content__title {
      color: white;
    }
    .back-content__btn {
      border: 1px solid white;
      border-radius: 50px;
      background: transparent;
      color: white;
      &:hover {
        background-color: white;
        span {
        background: linear-gradient(45deg, #37BDA6, #CB1AE8);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .section3-item-card__it-studio {
    .front-info {
      color: white;
      background-color: #4985FF;
    }
    .back {
      background: linear-gradient(#504DC2, #5F12D0);
    }
    .back-content {
      color: white;
    }
    .back-content__title {
      color: white;
    }
    .back-content__btn {
      color: #fff;
      background-color: #4985FF;
      border-radius: 30px;
      &:hover {
        background-color: #fff;
        span {
          background: linear-gradient(#504DC2, #5F12D0);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}