.home-page {
  .skillsDescription {
    margin-bottom: 80px;
  }
  .skillsDescription-items-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skillsDescription-item {
    width: 31%;
    padding: 16px 50px 16px 38px;
    border: black 2px solid;
    // box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1);
    // clip-path: polygon(15% 0%, 85% 0%, 100% 0%, 100% 100%, 85% 100%, 15% 100%, 0% 100%, 0% 27.8%);
  }
  .skillsDescription-item-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between; 
  }
  .skillsDescription-item-info__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #C4C4C4;
    margin-bottom: 12px;
  }
  .skillsDescription-item-info__suptitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 12px;
  }
  .skillsDescription-item-info__text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #1F2326;
  }
}